{ns hl7-fhir-us-dme-orders.value-set.PAOx-Message-Event,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Message Envent value set",
            :zen.fhir/version "0.6.9",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/us/dme-orders/CodeSystem/PAOX-Message-Event",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/us/dme-orders/ValueSet/PAOx-Message-Event",
            :version "0.2.0",
            :ftr {:module "ig",
                  :source-urls ["node_modules/hl7.fhir.us.dme-orders"],
                  :source-type :igs,
                  :ftr-path "ftr",
                  :tag "init"}}}
