{ns hl7-fhir-us-dme-orders.value-set.PAOX-Task-Code,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "This the task.code value set -- uses same code systems as the base resource but restricts the codes and makes it extensible.",
  :zen.fhir/version "0.5.24",
  :fhir/code-systems
  #{{:fhir/url "http://hl7.org/fhir/CodeSystem/task-code",
     :zen.fhir/content :bundled}},
  :uri "http://hl7.org/fhir/us/dme-orders/ValueSet/PAOX-Task-Code",
  :version "0.2.0"}}