{ns hl7-fhir-us-dme-orders,
 import
 #{hl7-fhir-us-dme-orders.PAOX-provenance
   hl7-fhir-us-dme-orders.PAOX-Medication
   hl7-fhir-us-core
   hl7-fhir-r4-core
   hl7-fhir-us-dme-orders.PAOX-devicedefinition
   hl7-fhir-us-dme-orders.PAOX-order-detail-extension
   hl7-fhir-us-dme-orders.PAOX-medication-request
   hl7-fhir-us-dme-orders.PAOX-servicerequest
   hl7-fhir-us-dme-orders.PAOX-subscription
   hl7-fhir-us-dme-orders.value-set.PAOx-Message-Event
   hl7-fhir-us-dme-orders.PAOX-relevant-reviews-extension
   hl7-fhir-us-dme-orders.PAOX-devicerequest
   hl7-fhir-us-dme-orders.PAOX-devicerequest-extension
   hl7-fhir-us-dme-orders.PAOX-messageheader
   hl7-fhir-us-dme-orders.value-set.PAOX-Task-Code
   hl7-fhir-us-dme-orders.PAOX-task
   hl7-fhir-us-dme-orders.PAOX-bundle
   hl7-fhir-us-dme-orders.PAOX-coverage}}