{ns hl7-fhir-us-dme-orders.PAOX-bundle,
 import
 #{hl7-fhir-r4-core.BackboneElement
   hl7-fhir-r4-core.code
   zen.fhir
   hl7-fhir-r4-core.string
   hl7-fhir-r4-core.instant
   hl7-fhir-r4-core.Bundle
   hl7-fhir-r4-core.value-set.bundle-type
   hl7-fhir-r4-core.Element
   hl7-fhir-r4-core.Identifier},
 schema
 {:zen.fhir/version "0.5.21-7",
  :confirms #{zen.fhir/Resource hl7-fhir-r4-core.Bundle/schema},
  :zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/dme-orders/StructureDefinition/PAOX-bundle",
  :require #{:identifier :entry :timestamp},
  :type zen/map,
  :zen/desc
  "PAO Bundle profile includes a MessageHeader, Task, Subscription, service/device/medication order(s) and supporting documentation",
  :keys
  {:identifier
   {:confirms #{hl7-fhir-r4-core.Identifier/schema},
    :type zen/map,
    :keys
    {:id #:fhir{:flags #{:MS}},
     :value
     {:confirms #{hl7-fhir-r4-core.string/schema}, :fhir/flags #{:MS}},
     :_value {:confirms #{hl7-fhir-r4-core.Element/schema}}},
    :require #{:value :id},
    :fhir/flags #{:MS}},
   :type
   {:const {:value "message"},
    :confirms #{hl7-fhir-r4-core.code/schema},
    :fhir/flags #{:MS},
    :zen.fhir/value-set
    {:symbol hl7-fhir-r4-core.value-set.bundle-type/value-set,
     :strength :required}},
   :_type {:confirms #{hl7-fhir-r4-core.Element/schema}},
   :timestamp
   {:confirms #{hl7-fhir-r4-core.instant/schema}, :fhir/flags #{:MS}},
   :_timestamp {:confirms #{hl7-fhir-r4-core.Element/schema}},
   :entry
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
     :fhir/flags #{:MS}},
    :minItems 1}},
  :zen.fhir/type "Bundle"}}