{ns hl7-fhir-us-dme-orders.PAOX-provenance,
 import
 #{zen.fhir
   hl7-fhir-us-dme-orders.PAOX-medication-request
   hl7-fhir-us-dme-orders.PAOX-servicerequest
   hl7-fhir-us-dme-orders.PAOX-devicerequest
   hl7-fhir-r4-core.Reference
   hl7-fhir-us-core.us-core-provenance},
 schema
 {:zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen/desc "PAO Provenance Profile based on US Core",
  :zen.fhir/type "Provenance",
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/dme-orders/StructureDefinition/PAOX-provenance",
  :zen.fhir/version "0.5.30-1",
  :confirms
  #{hl7-fhir-us-core.us-core-provenance/schema zen.fhir/Resource},
  :type zen/map,
  :keys
  {:target
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
     :zen.fhir/reference
     {:refers
      #{hl7-fhir-us-dme-orders.PAOX-devicerequest/schema
        hl7-fhir-us-dme-orders.PAOX-servicerequest/schema
        hl7-fhir-us-dme-orders.PAOX-medication-request/schema}}}}}}}